<!-- Footer Background Decoration -->
<div class="footer-background-box"></div>

<!-- Main Footer Section -->
<section class="footer-section">

  <!-- Brand Info -->
  <div class="Foodmart">
    <h4>Foodmart</h4>
    <p>
      These superfoods are packed with vital nutrients, including vitamins and minerals that can help keep
      you health.
    </p>
  </div>

  <!-- Features / Navigation -->
  <div class="features-section-container">

    <!-- Navigation Links -->
    <div class="features-section-box">
      <h4 class="features-section-title">Navigation</h4>
      <ul class="features-section-list">
        <li><a href="#">Search</a></li>
        <li><a href="#">My Cart</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Wishlist</a></li>
      </ul>
    </div>

    <!-- About Us Links -->
    <div class="features-section-box">
      <h4 class="features-section-title">About Us</h4>
      <ul class="features-section-list">
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Faq’s</a></li>
        <li><a href="#">Delivery</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>

  </div>

  <!-- Newsletter Subscription -->
  <div class="newsletter">
    <h4 class="newsletter-title">Subscribe newsletter and get 20% off</h4>
    <p class="newsletter-description">
      These superfoods are packed with vital nutrients, including vitamins.
    </p>
    <form class="newsletter-form">
      <input type="email" class="newsletter-input" placeholder="Enter email address...">
      <a href="#">
        <button type="submit" class="newsletter-button">
          <img src="/asetss/img/east_27dp_0A490A_FILL0_wght400_GRAD0_opsz24.svg" alt="Submit">
        </button>
      </a>
    </form>
  </div>

</section>

<!-- Footer Bottom -->
<div class="footer-bottom">
  <p class="footer-copy">2024, All Rights Reserved</p>
  <p class="footer-author">
    Made by <span>Hadj cadi Mustapha</span>
  </p>
</div>
<div class="footer-nav">
  <div class="footer-nav-section">
    <a href="#">
      <img src="/asetss/img/home-32.svg" alt="Profile">
    </a>
  </div>
  <div class="footer-nav-section">
    <a href="#">
      <img src="/asetss/img/favorite_32.svg" alt="Profile">
    </a>
  </div>
  <div class="footer-nav-section">
    <a href="#">
      <img src="/asetss/img/shopping_cart_32.svg" alt="Profile">
    </a>
  </div>
  <div class="footer-nav-section">
    <a href="#">
      <img src="/asetss/img/account_circle_32.svg" alt="Profile">
    </a>
  </div>
</div>