<!-- Logo -->
<div class="logo">
  <h3 class="foodmart">FOODMART</h3>
</div>
<div class="header-menu">
  <!-- Navigation Menu -->
  <ul class="menu">
    <li><a href="/index.html">Home</a></li>
    <li><a href="#">Fruit</a></li>
    <li><a href="#">Vegetable</a></li>
  </ul>

  <!-- menu-mobile -->
  <a href="#porduct-model" title="menu-mobile">
    <img class="menu-mobile" src="/asetss/img/menu_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg" alt="">
  </a>

  <div id="porduct-model" class="porduct-model">

    <a href="#" class="overlay" title="1"></a>

    <div class="menu-content">
      <div class="logo">
        <h3 class="foodmart">FOODMART</h3>
      </div>
      <hr>
      <div class="search-box-mobil">
        <input type="text" class="search-input" placeholder="Search products">
        <img src="/asetss/img/Vector.svg" alt="Search Icon">
      </div>
      <div class="menu-mobile-content">
        <ul class="menu-mobile-list">
          <li class="category-item">menu
            <div class="subcategory-dropdown">
              <ul class="subcategory-list">
                <li><a href="#">Fruit</a></li>
                <li><a href="#">Vegetable</a></li>
              </ul>
            </div>
          </li>
          <li class="category-item">Profile
            <div class="subcategory-dropdown">
              <ul class="subcategory-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">My Cart</a></li>
                <li><a href="#">Profile</a></li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <!-- Search Box -->
  <div class="search-box">
    <input type="text" class="search-input" placeholder="Search products">
    <select title="Category">
      <option value="cart">Cart</option>
      <option value="profile">Profile</option>
      <option value="logout">Logout</option>
    </select>
    <img src="/asetss/img/Vector.svg" alt="Search Icon">
  </div>

  <!-- Header Actions: Profile / Wishlist / Cart -->
  <div class="header-actions">
    <!-- Profile -->
    <div class="header-action">
      <a href="#">
        <img src="/asetss/img/Group.svg" alt="Profile">
        <label>Profile</label>
      </a>
    </div>

    <!-- Wishlist -->
    <div class="header-action">
      <a href="#">
        <img src="/asetss/img/Heart.svg" alt="Wishlist">
        <label>Wishlist</label>
      </a>
    </div>

    <!-- My Cart -->
    <div class="header-action">
      <a href="#">
        <img src="/asetss/img/Shopping cart.svg" alt="Cart">
        <label>My Cart</label>
      </a>
    </div>
  </div>
</div>